{% extends 'start.html' %} {% load static %} {% block content %}

<section id="home" class="hero hero-modern">
  <!-- LEFT: IMAGE -->
  <div class="hero-left">
    <div class="direction">
    <img
      src="{% static 'images/sarit 1.png' %}"
      class="profile-img"
      alt="Josiah Mwangi"
    />
    <a class="hide_link"   href="{% url 'login' %}"> <p><strong>The code whisperer</strong></p></a>
    </div>
  </div>

  <!-- RIGHT: TEXT -->
  <div class="hero-right">
    <h1>Josiah Mwangi</h1>
<p class="hero-subtitle" id="typewriter"
   data-text="I am an Electrical Engineer and Electrical Tutor/Instructor with additional expertise in Customer Support, Full-Stack Web Design, Graphic Design, and Transcription. I bring a strong balance of technical knowledge, creativity, and communication skills to every project, ensuring professional and reliable results.">
</p>



  </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const el = document.getElementById("typewriter");
  if (!el) return;

  const text = el.getAttribute("data-text");
  let index = 0;

  function type() {
    if (index < text.length) {
      el.textContent += text.charAt(index);
      index++;
      setTimeout(type, 30); // typing speed
    }
  }

  type();
});
</script>

{% endblock %}
